/* html,
body {
    background-color: white;
}

.App {
  text-align: center;

}

.map {
  height: 80%;
  background: #000000
}


 */

a {
  color: white;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
