.background {
  background-color: #2c2c2c !important;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 3px;
  padding-top: 2px;
  padding-bottom: 15px;
  z-index: 2001;
  
}

.toolbar {
    /* margin-top: 20px !important; */
    background-color: #ffffff!important;
    z-index: 1001 !important;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3px;
    margin-top: 0px;
    border: 5px solid #2c2c2c; 
    /* margin-left: 85px; */
    
    
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #2c2c2c !important;
    z-index: 1001;
    margin-left: 8px;

}

.btn-large {
  width: 50px;
    height: 50px;
    padding-bottom: 20px; 
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 35px;
    font-size: 50px;
    line-height:.5;
    z-index: 1001;
    background-color: #2c2c2c!important;
    text-align:top;
}
.btn-large-modal {
  width: 50px;
    height: 50px;
    padding-bottom: 20px; 
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 35px;
    /* font-size: 50px; */
    line-height:.5;
    z-index: 5001;
    background-color: #2c2c2c!important;
    text-align:top;
}



.save-location-btn {
  position: absolute;
  bottom: 15%;
  left: 41%;
  
  /* margin-left: -2%;
  margin-top: 108%; */
  
}

.add-photo {
  margin-left: 5px;
}

.header {
  background-color: #d7d7d7;
  color: white;
}

.footer {
  background-color: #d7d7d7;
}

.form-control-lg {
  height: 100px !important;
  width: 100%;
}

/* .modal-container {
  position: relative;
} */

/* .modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
} */





